<!--
 =========================================================
 Material Kit PRO - v2.2.0
 =========================================================

 Product Page: https://www.creative-tim.com/product/material-kit-pro
 Copyright 2019 Creative Tim (https://www.creative-tim.com)

 Coded by Creative Tim

 =========================================================

 The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="../assets/img/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>
        Blockchain
    </title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <!-- CSS Files -->
    <link href="../assets/css/material-kit.css?v=2.2.0" rel="stylesheet" />
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link href="../assets/demo/demo.css" rel="stylesheet" />
    <link href="../assets/demo/vertical-nav.css" rel="stylesheet" />
</head>

<body class="blog-posts sidebar-collapse">
    <nav class="navbar navbar-color-on-scroll navbar-transparent    fixed-top  navbar-expand-lg " color-on-scroll="100" id="sectionsNav">
        <div class="container">
            <div class="navbar-translate">
                <a class="navbar-brand" href="https://demos.creative-tim.com/material-kit-pro/index.html">
          BlockChain </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="sr-only">Toggle navigation</span>
          <span class="navbar-toggler-icon"></span>
          <span class="navbar-toggler-icon"></span>
          <span class="navbar-toggler-icon"></span>
        </button>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">
                    <li class="dropdown nav-item">
                        <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                            <i class="material-icons">view_carousel</i>Government Perspective
                        </a>
                        <div class="dropdown-menu dropdown-with-icons">
                            <a href="/aboutus" class="dropdown-item">
                                <i class="material-icons">account_balance</i> About Us
                            </a>
                            <a href="/addtender" class="dropdown-item">
                                <i class="material-icons">art_track</i> Add tender
                            </a>
                            <a href="/contactus" class="dropdown-item">
                                <i class="material-icons">location_on</i> Contact Us
                            </a>
                            <a href="/login" class="dropdown-item">
                                <i class="material-icons">fingerprint</i>Govt Login Page
                            </a>
                            <a href="/register" class="dropdown-item">
                                <i class="material-icons">shopping_basket</i>Govt authority Register
                            </a>

                        </div>
                    </li>

                    <li class="dropdown nav-item">
                        <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                            <i class="material-icons">view_carousel</i>User Perspective
                        </a>
                        <div class="dropdown-menu dropdown-with-icons">
                            <a href="/userlogin" class="dropdown-item">
                                <i class="material-icons">fingerprint</i>User Login Page
                            </a>
                            <a href="/userregister" class="dropdown-item">
                                <i class="material-icons">shopping_basket</i>User Register
                            </a>

                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="page-header header-filter header-small" data-parallax="true" style="background-image: url('../assets/img/bg10.jpg');">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">
                    <h3 class="title">A Place which offers Transparent,Efficient management of Government records and Fast verification process for implementation </h2>
                </div>
            </div>
        </div>
    </div>
    <div class="main main-raised">
        <div class="container">
            <div class="section">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto text-center">
                        <ul class="nav nav-pills nav-pills-primary">
                            <li class="nav-item">
                                <a class="nav-link active" href="#pill1" data-toggle="tab">What is Blockchain</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#pill3" data-toggle="tab">Role of Government</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#pill3" data-toggle="tab">Role of Users</a>
                            </li>
                        </ul>
                        <div class="tab-content tab-space">
                            <div class="tab-pane active" id="pill1"></div>
                            <div class="tab-pane" id="pill2"></div>
                            <div class="tab-pane" id="pill3"></div>
                            <div class="tab-pane" id="pill4"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="card card-raised card-background" style="background-image: url('../assets/img/examples/office2.jpg')">
                            <div class="card-body">
                                <h6 class="card-category text-info">Worlds</h6>
                                <a href="#pablo">
                                    <h3 class="card-title">The Best Productivity Apps on Market</h3>
                                </a>
                                <p class="card-description">
                                    Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                                </p>
                                <a href="#pablo" class="btn btn-danger btn-round">
                                    <i class="material-icons">format_align_left</i> Read Article
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card card-raised card-background" style="background-image: url('../assets/img/examples/blog8.jpg')">
                            <div class="card-body">
                                <h6 class="card-category text-info">Business</h6>
                                <h3 class="card-title">Working on Wallstreet is Not So Easy</h3>
                                <p class="card-description">
                                    Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                                </p>
                                <a href="#pablo" class="btn btn-primary btn-round">
                                    <i class="material-icons">format_align_left</i> Read Article
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="card card-raised card-background" style="background-image: url('../assets/img/examples/card-project6.jpg')">
                            <div class="card-body">
                                <h6 class="card-category text-info">Marketing</h6>
                                <h3 class="card-title">0 to 100.000 Customers in 6 months</h3>
                                <p class="card-description">
                                    Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                                </p>
                                <a href="#pablo" class="btn btn-warning btn-round">
                                    <i class="material-icons">subject</i> Read Case Study
                                </a>
                                <a href="#pablo" class="btn btn-white btn-just-icon btn-link" title="" rel="tooltip" data-original-title="Save to Pocket">
                                    <i class="fa fa-get-pocket"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="footer">
                <div class="container">
                    <div class="copyright float-centre">
                        &copy;
                        <script>
                            document.write(new Date().getFullYear())
                        </script>, made with <i class="material-icons">favorite</i> by
                        <a href="https://www.creative-tim.com" target="_blank">Control Alt Elite</a> for transparency
                    </div>
                </div>
            </footer>
            <!--   Core JS Files   -->
            <script src="../assets/js/core/jquery.min.js" type="text/javascript"></script>
            <script src=../assets/js/core/popper.min.js " type="text/javascript "></script>
            <script src="../assets/js/core/bootstrap-material-design.min.js " type="text/javascript "></script>
            <script src="../assets/js/plugins/moment.min.js "></script>
            <!--	Plugin for the Datepicker, full documentation here: https://github.com/Eonasdan/bootstrap-datetimepicker -->
            <script src="../assets/js/plugins/bootstrap-datetimepicker.js " type="text/javascript "></script>
            <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
            <script src="../assets/js/plugins/nouislider.min.js " type="text/javascript "></script>
            <!--  Google Maps Plugin    -->
            <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE "></script>
            <!--	Plugin for Tags, full documentation here: https://github.com/bootstrap-tagsinput/bootstrap-tagsinputs  -->
            <script src="../assets/js/plugins/bootstrap-tagsinput.js "></script>
            <!--	Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
            <script src="../assets/js/plugins/bootstrap-selectpicker.js " type="text/javascript "></script>
            <!--	Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
            <script src="../assets/js/plugins/jasny-bootstrap.min.js " type="text/javascript "></script>
            <!--	Plugin for Small Gallery in Product Page -->
            <script src="../assets/js/plugins/jquery.flexisel.js " type="text/javascript "></script>
            <!-- Plugins for presentation and navigation  -->
            <script src="../assets/demo/modernizr.js " type="text/javascript "></script>
            <script src="../assets/demo/vertical-nav.js " type="text/javascript "></script>
            <!-- Place this tag in your head or just before your close body tag. -->
            <script async defer src="https://buttons.github.io/buttons.js "></script>
            <!-- Js With initialisations For Demo Purpose, Don't Include it in Your Project -->
            <script src="../assets/demo/demo.js " type="text/javascript "></script>
            <!-- Control Center for Material Kit: parallax effects, scripts for the example pages etc -->
            <script src="../assets/js/material-kit.js?v=2.2.0 " type="text/javascript "></script>
</body>

</html>